.discussion-form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .discussion-input{
    width: 350px;
    font-size: 18px;
    background-color: white;
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid rgba(145, 84, 145, 0.576);
    outline: none;
  }
  
  .discussion-button{
    padding: 16px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: rgb(124, 86, 124);
    color: white;
    text-transform: capitalize;
  }
  